//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Typography
//   4. Buttons
//   4. Navigation
//   5. Sections
//   6. Section One
//   7. Section Two
//   8. Section Three
//   9. Section Four
//   10. Projects
//   11. Contact
//   12. Footer


// 1. Mixins
// ---------



@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

// 2. Global
// ---------

body {
  cursor: default;
  font-kerning: normal;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

svg {
  max-width: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

::selection {
  background: $primary-color;
  color: $secondary-color;
}

:focus {
  outline: 0;
}

// 3. Typography
// -------------

a {
  transition: $primary-transition;
}

.underline {
  padding-bottom: 0.25rem;
  border-bottom: 1px $black solid;
  &:hover {
    border-bottom: 1px transparent solid;
  }
}

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

p a {
  padding-bottom: 0.25rem;
  border-bottom: 1px $black solid;
  &:hover {
    border-bottom: 1px transparent solid;
  }
}

h1 {
  line-height: 1;
  margin-bottom: 0;
}
  
.link {
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3);
  &:hover {
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8);
    color: $primary-color;
  }
}


#preload {
  position: absolute;
  overflow: hidden;
  left: -9999px;
  top: -9999px;
  height: 1px;
  width: 1px;
}

// 6. Fluid Type
// -------------

$min_width: 320px;
$max_width: 1440px;
$min_font: 120px;
$max_font: 200px;

.link {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  line-height: 0.9;
  letter-spacing: 2px;
}

.testing {
//   min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}