---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body class="{{page.layout | slugify}}">
  
{% if page.url == "/" %}
<script>document.body.className += ' fade-out';</script>
{% endif %}

Studio 17, 92-96 De Beauvoir Road, London N1 4EN

{{content}}

hello@studio-seventeen.co

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

<!-- Google Analytics -->
{% if site.analytics %}
{% include analytics.html %}
{% endif %}
<!-- End Google Analytics -->

</body>

</html>